{% extends 'base.html' %}
{% block title %}
Statistics
{% endblock %}
{% block body %}
    <div style="text-align:center; line-height:inherit">
    За этот месяц вышло {{count_movies}} новых фильмов и {{count_serials}} сериалов.
    И все они уже есть в нашем онлайн-кинотеатре.
    Но что же вы больше всего смотрели в {{month}}?
    <br><br>
    <span style="font-weight: bold">
        В этом месяце вы посмотрели {{count_films}} фильмов.<br>
        Из них {{count_genre_max}} - {{genre_max}}.
    </span>
    <br><br>
        <div style="background: #1c1e1e; text-align: center; color:#fcce0a;font-size:21px;font-weight: bold;
    padding: 7px 0">
    Простите нас за это письмо!<br>Прислать вам его нас заставили разработчики курса.
        </div>
    </div>
    <br><br>
    Спасибо, что вы всё ещё являетесь пользователем нашего кинотеатра.
    <br>
    Мы постараемся делать меньше подобных рассылок.<br>
{% endblock %}