{% extends 'base.html' %}
{% block title %}
Tip
{% endblock %}
{% block body %}
    В наш онлайн-кинотеатр добавлен новый фильм «{{movie_name}}».<br>
    <br><br>
    <div style="text-align: center">
        {{poster}}
    </div>
    <br><br>
    Ознакомиться с ним вы можете по ссылке:
                        <div style="text-align: center; line-height:inherit;padding:20px 10px 30px 10px">
        <a href="{{link_movie}}" style="line-height:inherit" data-link-id="2" target="_blank"
           rel="noopener noreferrer">
            <div style="background-color:#fcce0a;border:1px solid #fcce0a;
            border-radius:5px;color:#000000;display:inline-block;
            font-family:'open sans' , 'helvetica' , 'arial' , sans-serif;
            line-height:inherit;padding-bottom:5px;padding-top:5px;text-align:center;
            text-decoration:none;width:auto">
                <span style="display:inline-block;font-size:17px;line-height:inherit;
                padding-left:45px;padding-right:45px">
                    <span style="font-size:15px;line-height:28px">Смотреть фильм</span>
                </span>
            </div>
        </a>
    </div>
    Если ссылка выше не работает, скопируйте и вставьте следующий адрес в свой веб-браузер :
    <a href="{{link_movie}}" data-link-id="3" target="_blank" rel="noopener noreferrer">{{link_movie}}</a>
    <br><br>Приятного просмотра!<br>
{% endblock %}