{% extends 'base.html' %}
{% block title %}
Welcome Email
{% endblock %}
{% block body %}
    Вы всего в одном шаге от завершения регистрации. Пожалуйста, подтвердите свой адрес электронной
    почты:
    <div style="text-align: center; line-height:inherit;padding:20px 10px 30px 10px">
        <a href="{{link}}" style="line-height:inherit" data-link-id="2" target="_blank"
           rel="noopener noreferrer">
            <div style="background-color:#fcce0a;border:1px solid #fcce0a;
            border-radius:5px;color:#000000;display:inline-block;
            font-family:'open sans' , 'helvetica' , 'arial' , sans-serif;
            line-height:inherit;padding-bottom:5px;padding-top:5px;text-align:center;
            text-decoration:none;width:auto">
                <span style="display:inline-block;font-size:17px;line-height:inherit;
                padding-left:45px;padding-right:45px">
                    <span style="font-size:15px;line-height:28px">Подтвердить электронную почту</span>
                </span>
            </div>
        </a>
    </div>
    Если ссылка выше не работает, скопируйте и вставьте следующий адрес в свой веб-браузер :
    <a href="{{link}}" data-link-id="3" target="_blank" rel="noopener noreferrer">{{link}}</a>
    <br><br>
    Спасибо, что вы присоединились к пользователям нашего кинотеатра!&nbsp;
{% endblock %}
